@import url(//db.onlinewebfonts.com/c/154ebfcef3ca74b92a56a5826ee85d74?family=Sharp+Sans+No1+Bold);

body {
    font-family: "Sharp Sans No1 Bold";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url('../images/bg.jpg');
}
.land {
    background: url("../images/store-banner-lg.png") center/cover no-repeat;
    height: 35vh;
}
h1 {
    position: absolute;
    left: 43%;
    color: white;
    top: 20%;
    font-size: 2.2rem;
}
.svg {
    position: absolute;
    top: 45%;
    width: 80%;
    left: 10%;
}

h3 {
    background-color: #fff;
    font-size: 1.28rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}
.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}
.large, .medium, .small {
    font-weight: bold;
    color: blue;
    font-size: 0.95rem;
    cursor: pointer;
    text-decoration: underline;
}
.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}
#customize, #customize2, #customize3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(35,31,32,.8);
    top: 0%;
    z-index: 1;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-body {
    position: absolute;
    width: 50%;
    height: 95%;
    background-color: #fff;
    display: flex;
}
.bg, .bg2, .bg3 {
    background-image: url('../images/large-600x593.png');
    background-repeat: no-repeat;
    height: 95%;
    width: 35%;
    backface-visibility: hidden;
}
.bg2 {
    background-image: url('../images/medium-Pizza.png');
}
.bg3 {
    background-image: url('../images/Garden-Pizza.png');
}
.product {
    width: 65%;
    
}
.product h2 {
    font-size: 2.3rem;
    font-weight: 500;
    margin-bottom: 5px;
    margin-left: 1em;
    line-height: 1.2;
}
.modal-close, .modal-close2, .modal-close3 {
    background-color: #e9ebee;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 11px;
    top: 1%;
}
.extras h5{
    color: #231f20;
    font-size: 20px;
    line-height: 1.5;
}
.extras {
    border-width: 1px;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #71707D;
    margin-left: 15px;
}
.pt-1 {
    margin-left: 15px;
}
.single-top h6 {
    font-size: 1.3em;
}
.single-top * {
    display: inline;
    margin-left: 30px;
    /* padding: 10px; */
}
.qty .count {
    color: #000;
    text-align: center;
    padding: 10px;
}
.top {
    position: absolute;
    left: 65%;
}
.text-muted {
    color: #6b6e79;
    font-size: 0.9rem;
}