@import url(//db.onlinewebfonts.com/c/154ebfcef3ca74b92a56a5826ee85d74?family=Sharp+Sans+No1+Bold);

body {
    font-family: "Sharp Sans No1 Bold";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url('../images/bg.jpg');
}
.land {
    background: url("../images/store-banner-lg.png") center/cover no-repeat;
    height: 35vh;
}
h1 {
    position: absolute;
    left: 43%;
    color: white;
    top: 20%;
    font-size: 2.2rem;
}
.svg {
    position: absolute;
    top: 45%;
    width: 80%;
    left: 10%;
}

h3 {
    background-color: #fff;
    font-size: 1.28rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
}